{% extends 'base.html' %}
{% load static %}

{% block title %}
Formulário para Nova Notícia
{% endblock %}

{% block header-links %}
<li><a href="{% url 'home-page' %}">Home</a></li>
<li><a href="{% url 'categories-form' %}">Cadastrar Categorias</a></li>
<li><a href="{% url 'news-form' %}">Cadastrar Notícias</a></li>
{% endblock %}

{% block content %}
  <div class="news-form">
    <form method="post" action="{% url 'news-form' %}" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Salvar</button>
    </form>
  </div>
{% endblock %}